/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

a {
  color: #aaa;
  text-decoration: none;
}
